.newsList {
  list-style: none;
  margin-top: 20px;


  li {
    display: block;
    width: 600px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 15px;
  }
}

.top {
  display: flex;
  justify-content: space-between;
}


.title {
  margin-left: 40px;
  margin-right: 10px;
  min-height: 32px;

  a {
    color: black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.operations {
  display: flex;

  span {
    display: flex;
    line-height: 50px;
    width: 32px;
    height: 32px;

    &:hover {
      cursor: pointer;

      &:first-child {
        svg {
          fill: blue;
        }
      }

      &:nth-child(2) {
        svg {
          fill: red;
        }
      }
    }

    svg {
      margin: auto auto;
    }
  }
}


.header {
  height: 32px;
  margin-bottom: 15px;
  display: flex;

  span {
    margin: auto 0;
    margin-right: 5px;
    font-style: italic;
  }

  span:first-child {
    width: 32px;
    height: 32px;
  }

  span:last-child {
    margin-right: 0;
  }

  img {
    width: 100%;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.content {
  text-align: justify;
}

.edited {
  font-size: 0.8rem;
  color: darkblue;
}
